<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/dashboard.css" rel="stylesheet">
    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../vendor/jquery/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <style type="text/css">
        .one-edge-shadow {
          box-shadow: 2px 0px 2px 0px grey;
        }
    </style>
  <script>
            $(document).ready(function(){
                $.ajax({
                    type: 'GET',
                    url: "/placement/get_new_registrants",
                    datatype: 'json',
                    success: function(data1){

                        data1 = '[{"company_sector": "Consultancy", "name": "Abcd", "company_id": 11, "tier": 1, "postal_address": "Addr10", "website": "www.deloitte.com", "cutoff_gpa": 8.0}]';

                        var jsonobj= JSON.parse(data1);
                        // alert(jsonobj)
                        for(stud in jsonobj)
                        {
                            
                            tempdiv = document.createElement("div");
                            tempbutton=document.createElement('button');
                            tempdiv.style="padding:1.2%";                    
                            tempbutton.type="submit";
                            tempbutton.className="btn btn-default";
                            tempbutton.id="btnauth";
                            tempbutton.value="Register";
                            tempbutton.innerHTML = "Register";
                            // tempdiv.innerHTML="Name: "+jsonobj[stud]['name'] + ",&emsp;&emsp;&emsp;USN: " + jsonobj[stud]['usn'] +"&emsp;&emsp;&emsp;"+ jsonobj[stud]['CGPA']+"&emsp;&emsp;&emsp;";
                            // console.log(jsonobj[stud].name);

                            tempdiv1 = document.createElement("div");
                            tempdiv1.style=" background-color: rgb(0, 0, 0); background-color: rgba(0, 255, 255, 0.5);"; 
                            tempdiv1.className = "col-sm-3"
                            tempdiv1.innerHTML = jsonobj[stud]['name'];

                            tempdiv2 = document.createElement("div");
                            tempdiv2.style=" background-color: rgb(0, 0, 0); background-color: rgba(255, 255, 0, 0.5);"; 
                            tempdiv2.className = "col-sm-3"
                            tempdiv2.innerHTML = jsonobj[stud]['website'];

                            tempdiv3 = document.createElement("div");
                            tempdiv3.style=" background-color: rgb(0, 0, 0); background-color: rgba(255, 0, 255, 0.5);"; 
                            tempdiv3.className = "col-sm-3"
                            tempdiv3.innerHTML = jsonobj[stud]['company_sector'];

                            tempdiv4 = document.createElement("div");
                            // tempdiv4.style=" background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.2);"; 
                            tempdiv4.className = "col-sm-3"
                            

                            tempbutton.className = "btn-danger";
                            tempbutton.onmouseover=function(e){
                                e.target.className = "btn-success";
                            }
                            tempbutton.onmouseout=function(e){
                                e.target.className = "btn-danger";
                            }
                            tempbutton.onclick=function(e){
                            e.target.innerHTML = "Authenticated";
                            e.target.disabled = true;
                            e.target.className = "btn-default";
                            e.target.parentElement.parentElement.parentElement.removeChild(e.target.parentElement.parentElement)
                            if(document.getElementById("parent").childElementCount == 0)
                            {
                                tempdiv1 = document.createElement("div");
                                tempdiv1.style=" background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.5);";                    
                                tempdiv1.innerHTML="No new records to register";
                                document.getElementById("parent").appendChild(tempdiv1);
                            }
                            // alert("ok");
                            $.ajax({
                                type:'POST',
                                url: "/placement/add_student",
                                dataType: 'text',
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(jsonobj[stud]),
                                success: function(data){
                                
                                },
                                // error:function(exception){alert('Exception:'+exception);}
                            });
                        }
                            tempdiv4.appendChild(tempbutton);
                            tempdiv.appendChild(tempdiv1);
                            tempdiv.appendChild(tempdiv2);
                            tempdiv.appendChild(tempdiv3);
                            tempdiv.appendChild(tempdiv4);
                            document.getElementById("parent").appendChild(tempdiv);
                        }
                    },
                    error:function(exception){alert('Exception:'+exception);
                }
            });
        });
        

        
        
    </script>
</head>

<body class="dashboard" onload="$('#menu-toggle').click()">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background-color: black;" class="one-edge-shadow">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" style="background-color: white">
                    <div>
                            <img src="pes_logo.png" width="100px">
                        </div>
                    </li>
                    <li class="sidebar-brand">
                    <a href="#">
                        Placement Hub
                    </a> 
                    </li>
                </li>
                <!-- <li>
                    <a href="sidebar.html">Dashboard</a>
                </li> -->
                <li>
                    <a href="dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#">User profile</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="row">
            <div id="page-content-wrapper" style="background-color: white;">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle" >
                <!-- <img class="img-thumbnail" src="threelines.png" style="max-height: 100%; max-width: 100%"> -->
                </a>
                <h1>Companies</h1>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
         <section class="features" id="features">
            <div class="container-fluid" style="padding: 1% 0%;" id="parent">
            
            </div>
        </section>
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled", 0, 0);
    });
    </script>



</body>

</html>
