<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/dashboard.css" rel="stylesheet">
    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <style type="text/css">
        .one-edge-shadow {
          box-shadow: 2px 0px 2px 0px grey;
        }
    </style>

</head>

<body class="dashboard" onload="$('#menu-toggle').click()">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background-color: black;" class="one-edge-shadow">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" style="background-color: white">
                	<div>
                    		<img src="pes_logo.png" width="100px">
                		</div>
                	</li>
                	<li class="sidebar-brand">
                    <a href="#">
                        Placement Hub
                    </a> 
                    </li>
                </li>
                <!-- <li>
                    <a href="sidebar.html">Dashboard</a>
                </li> -->
                <li>
                    <a href="#">User profile</a>
                </li>
                <li>
                    <a href="companies.html">Companies</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="row">
	        <div id="page-content-wrapper" style="background-color: white;">
	            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle" >
				<!-- <img class="img-thumbnail" src="threelines.png" style="max-height: 100%; max-width: 100%"> -->
				</a>
	        	<h1>Dashboard</h1>
	        </div>
	    </div>
        <!-- /#page-content-wrapper -->
         <section class="features" id="features">
	      <div class="container-fluid" style="padding: 1% 0%;">
	        <div class = "row" style="padding: 5% 0%;">
        	
        		<div class="col-sm-1">
	        	</div>

	        	<div class="card text-black col-sm-4" style="background-color: rgba(255, 255, 255, 0.5);">
	        		<div class="card-header">Companies</div>
				 	<div class="card-body">
				    <!-- <h4 class="card-title">Success card title</h4>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				  </div>
	        	</div>

	        	<div class="col-sm-1">
	        	</div>
        	
	        	<div class="card text-white col-sm-4" style="background-color: rgba(255, 255, 0, 0.3);">
	        		<div class="card-header">Events</div>
				 	<div class="card-body">
				    <!-- <h4 class="card-title">Success card title</h4>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				  </div>
	        	</div>

	        	<div class="col-sm-1">
	        	</div>
        	
        </div>
        <div class = "row" style="padding: 1% 0%;">
            
                <div class="col-sm-1"">
                </div>

                <div class="card text-black col-sm-4" style="background-color: rgba(255, 255, 255, 0.5);">
                    <div class="card-header">Announcements</div>
                    <div class="card-body">
                    <!-- <h4 class="card-title">Success card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  </div>
                </div>

                <div class="col-sm-1">
                </div>
            
                <div class="card text-black col-sm-4" style="background-color: rgba(255, 255, 255, 0.5);">
                    <div class="card-header">Alumni</div>
                    <div class="card-body">
                   <!--  <h4 class="card-title">Success card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  </div>
                </div>

                <div class="col-sm-1">
                </div>
            
        </div>
   	 </div>
    </section>
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled", 0, 0);
    });
    </script>



</body>

</html>
